@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-color: #f0f0f0;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #434343;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1c1c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353535;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #030303;
  background-image: linear-gradient(60deg, rgb(0, 0, 0) 66%, rgb(3, 3, 3) 98%);
  color: var(--font-color);
}

header {
  margin: 0px 21px;
  padding: 19px 0px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.741);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-left {
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  margin: 0px 6px 0px 0px;
}
.nav-left-arrow {
  display: inline;
  position: relative;
  top: 2px;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav ul {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  padding: 0 20px;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}
ul li a {
  font-size: 15px;
  text-decoration: none;
  color: var(--font-color);
}
ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}
.nav-button {
  border: 1px solid rgba(255, 255, 255, 0.633);
  padding: 8px 60px;
  border-radius: 20px;
}
.nav-button a:hover {
  cursor: pointer;
  text-decoration: none;
}
.nav-button:hover {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.092);
  transition: 0.2s;
}

.logo a {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--font-color);
}
.logo a:hover {
  text-decoration: underline;
}

main {
  width: 98%;
  height: 100%;
  padding: 50px;
  margin: auto;
  margin-top: 35px;
}

main h1 {
  text-transform: uppercase;
  color: rgb(205, 205, 205);
  font-size: clamp(60px, 20vw, 22vh);
  line-height: clamp(20px, 20vw, 18vh);
  /* font-size:22vh; */
  /* line-height: 18vh; */
}

.first-page {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.first-page p {
  position: absolute;
  bottom: 35px;
  line-height: 2.4vh;
  font-size: 14px;
  margin-top: 25px;
  width: clamp(400px, 32vw, 1000px);
  color: rgb(173, 173, 173);
}

.main-intro-image {
  padding: 0 20px;
  margin-top: 10px;
  width: auto;
  height: 77vh;
}
